@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "Harley Style";
  src: url("../src/assets/fonts/harley-style-brush.otf") format("opentype");
  font-weight: normal;
  font-size: normal
}

@font-face{
  font-family: "Staatliches";
  src: url("../src/assets/fonts/Staatliches-Regular.ttf") format("opentype");
  font-weight: normal;
  font-size: normal
}

html{
  font-size: 1vw;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
